.DS_Store
.created-dirs
functions/.DS_Store
functions/__pycache__
functions/libraries/__pycache__
model
hetero_model
sentinels
x.log
figures
*.aux
*.log
*.pdf

2023_03_30_Data
2023_04_19_Data
2023_07_21_Data
2023_08_04_Data
2023_08_26_Data
sortframe_figures
epitest_figures
epicomb_figures
density_figures
data_oldstructure
test_import_list.py
old_GenerateDataHistogramBoxplot.py